
h1{
    color: green;
    text-align: center;
}

body{
    background-image: url(/images/StAndrews.jpg);
    background-size: cover;
}

.footer-container {
    background-color: green;
}

 .footer-container a{
    background-color: transparent;
} 

.main-container{
    background-color: rgba(101, 121, 101, 0.4);
}

.myBioText{
    color:red;
}

.myBioLinks{
    color: darkgreen;
    font-weight: bold;
    list-style: none;
}

.myBioLinks a{
    text-decoration: none;
    color: seagreen;
}

.myBioLinks a:hover{
    background-color: springgreen;
}

.main-container h3{
    color: rgb(3,71,9);
}

.main-container h4{
    color: rgb(5, 24, 5);
}

.myprojects-container{
}

.skillsList{
    font-weight: bold;
}

.skillsList li {
    list-style: square;
    color: red;
}

.project{
}

.nav-container{
    background-color: green;
}

.nav-container a{
    text-decoration: none;
    color: white;
}

.nav-container a:hover{
    background-color: springgreen;
}

.techskills-container{
    color: whitesmoke;
}

.techSkillsList{
    list-style: none;
}



