body{
    background-image: url(/images/StAndrews.jpg);
    background-size: cover;
}

/* .background {
    position: relative;
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: .6;
} */

h1{
    color: green;
    text-align: center;
}

.footer-container {
    background-color: green;
}

 .footer-container a{
    background-color: transparent;
} 

.main-container{
    background-color: rgba(101, 121, 101, 0.4);
}

.main-container h3{
    /* color: rgb(5, 71, 5); */
    color: black;
    font-size: x-large;
}

.main-container h4{
    color: rgb(3, 44, 3);
}

.myBioText{
    color: rgb(3, 44, 3);
    color: black;
    font-weight: bold;
}

.myBioLinks{
    font-weight: bold;
    list-style: none;
    font-size: x-large;
}

.myBioLinks a{
    text-decoration: none;
    color: black;
}

.myBioLinks a:hover{
    background-color: olivedrab;
}

.nav-container{
    background-color: green;
}

.nav-container a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.nav-container a:hover{
     background-color: olivedrab; 
}


.projectDescription{
    color:whitesmoke;
    color: rgb(1, 29, 1);
}

.skillsList{
    font-weight: bold;
}

.skillsList li {
    /* list-style: square; */
    color: rgb(1, 43, 1);
    color: rgb(1, 29, 1);
}

.skillsList li:hover{
    color: whitesmoke;
}

.techskills-container, .leadskills-container{
    /* color: rgb(3, 44, 3); */
    color: rgb(1, 29, 1);
    font-weight: bold;
    font-size: larger;
}

.techSkillsList li:hover{
    color: whitesmoke;
}



